@model NServiceBus.Instrumentation.Dashboard.Models.Service.DetailViewModel

@{
	ViewBag.Title = "title";
}

<h1>@Model.ServiceName <small>@Model.MachineName</small> </h1>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#sagaTab" data-toggle="tab">Sagas</a></li>
    <li><a href="#errorTab" data-toggle="tab">Errors</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="sagaTab">
      
        <div class="row">
	        <div class="span6">
		        <select data-bind="foreach: FilterKeys, value: FilterKeyName">
			        <option data-bind="text: key, attr: { value: key }"></option>
		        </select>
                <input type="text" data-bind="value: FilterText"/>
	        </div>   
    
	        <div class="span3">
		        <button class="btn btn-primary">Filter</button>
		        <button class="btn btn-inverse" data-bind="click: clearFilter">Clear</button>
	        </div>
        </div>

		<div class="tabbable tabs-left">
	        <ul data-bind="foreach: DisplaySagas" class="nav nav-tabs">
		        <li data-bind="css: { active: $root.Selected() === $data }" class="">
			        <a data-bind="click: $root.SelectedManually, text: SagaType, attr: { href: '#tab' + SagaDataId }" data-toggle="tab"></a>
		        </li>
	        </ul>
	        <div class="tab-content" data-bind="foreach: Sagas">
		        <div data-bind="attr: { id: 'tab' + SagaDataId }, css: { active: $root.Selected() === $data }" class="tab-pane">
			        <dl data-bind="foreach: Values.items" class="dl-horizontal">
				        <dt data-bind="text: key, attr: { title: key }"></dt>
				        <dd data-bind="text: value"></dd>
			        </dl>
            
			        <div>
				        <h4>Timeouts Scheduled</h4>
				        <ul data-bind="foreach: Timeouts" class="unstyled">
					        <li>
						        <dl class="dl-horizontal" data-bind="foreach: Values.items">
				                    <dt data-bind="text: key, attr: { title: key }"></dt>
				                    <dd data-bind="text: value"></dd>
						        </dl>
					        </li>
				        </ul>
			        </div>
		        </div>
	        </div>
        </div>        

	</div>
    <div class="tab-pane" id="errorTab">
		<ul data-bind="foreach: Errors" class="unstyled row-fluid">
			<li class="span3">
				<p data-bind="text: ErrorDateTime"></p>
                <p data-bind="text: ErrorMessage"></p>

				<a class="btn btn-info" data-toggle="modal" data-bind="attr: { href: 'errorDetail' + ErrorId() }" role="button">Show Details</a>
				<div data-bind="attr: { id: 'errorDetail' + ErrorId() }" class="modal" role="dialog"  aria-hidden="true">
					  <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      </div>
					<div>
						<p><strong>Stacktrace</strong></p>
						<pre data-bind="text: Stacktrace"></pre>
					</div>
                    
					<div>
						<p><strong>Message</strong></p>
						<pre data-bind="text: Message"></pre>
					</div>
				</div>
			</li>
		</ul>
    </div>
  </div>
</div>




@section scripts
{
<script type="text/javascript">
	NserviceBus.Instrumentation.Dashboard.Service.Detail.Bind(@(Model.JsonModel));
</script>
}